#body{
    background-color: none;
    align-items: center;
}
.outer{
    border: 1vw solid black;
    padding: 3vw;
    background-color: black;
    height: 30vw;
    border-radius: 5vw;
}

.inner{
    border: 1vw solid green;
   background-color: aliceblue;
   height: 28vw;
   width: auto;
   display: flex;
   border-radius: 5vw;
   place-content: center;
    align-items: center;
}